<mat-toolbar color="primary" class="foot">
    <h2>Follow Us on</h2>
    <section class="ion_sec">
        <!-- <i class="fa fa-facebook-square"></i>
        <i class="fa fa-envelope"></i>
        <i class="fa fa-twitter-square"></i> -->
        <a href="http://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true" ></i></a>
              <a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true" ></i></a>
              
              <a href="http://youtube.com"><i class="fa fa-youtube"aria-hidden="true"></i></a>
              <a href="https://in.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true" ></i></a>
              
        </section>
</mat-toolbar>