.example-button-row button
{
  margin-left: 2em;
  
}
.example-button-row {
  margin-left: 30em;
}
.btn {

  background-color: transparent;
  
  color: white;
  
}

.btn-md{
  padding:1.5%;
  border: none;
  border-radius: 4px;
}
.search{
  margin-top: 3%;
  margin-left: 30%;
  margin-bottom: 2%;
  
 
}
input[type=text] {
  background-color:#0483A3;
  color: white;
  padding: 1.5%;
  width: 40%;
  border: none;
  border-radius: 4px;
}
.mat{
  /* max-width: 80%;
  max-height: 60%; */
  margin-right: 1%;
  border-radius: 5px;
  margin-left: 1%;
  margin-bottom: 3%;
  text-align: center;
  background-color: rgb(182, 229, 214);
}
 
  .record{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* max-width: 80%;
  max-height: 80%;
  margin-right: 1;
  border-radius: 5px;
  margin-left: 1%;
  margin-bottom: 3%;
  text-align: center; */
 
}

.myimg{
  height: 100px;
  width: 140px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.body{
  min-height: 100%;
  height: auto;
  background-image: url("src/assets/home.gif");
  background-size: auto;
  background-repeat: no-repeat;

}
.mat-toolbar{
  background-color: transparent;
}
.h{
  
    text-shadow: 2px 2px red;
    font-size: 200%;
  
}
.pagination{
  padding-top: 2%;
  margin-right: 12%;
  /* position: fixed; */
  /* bottom: 0; */
  /* align-content: center; */
}